In [129]:
import pandas as pd
import numpy as np

In [130]:
df1=pd.read_csv('tmdb_5000_credits.csv')
df2=pd.read_csv('tmdb_5000_movies.csv')

In [131]:
df1.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [132]:
df2.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

#### The first dataset contains the following features:

movie_id - A unique identifier for each movie.

cast - The name of lead and supporting actors.

crew - The name of Director, Editor, Composer, Writer etc.

#### The second dataset has the following features:

budget - The budget in which the movie was made.

genre - The genre of the movie, Action, Comedy ,Thriller etc.

homepage - A link to the homepage of the movie.

id - This is infact the movie_id as in the first dataset.

keywords - The keywords or tags related to the movie.

original_language - The language in which the movie was made.

original_title - The title of the movie before translation or adaptation.

overview - A brief description of the movie.

popularity - A numeric quantity specifying the movie popularity.

production_companies - The production house of the movie.

production_countries - The country in which it was produced.

release_date - The date on which it was released.

revenue - The worldwide revenue generated by the movie.

runtime - The running time of the movie in minutes.

status - "Released" or "Rumored".

tagline - Movie's tagline.

title - Title of the movie.

vote_average - average ratings the movie recieved.

vote_count - the count of votes recieved.

In [133]:
df1.columns

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [134]:
df1.columns = ['id','tittle','cast','crew']
df1.columns

Index(['id', 'tittle', 'cast', 'crew'], dtype='object')

In [135]:
df2 = df2.merge(df1, on = "id")
df2.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,tittle,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

### Demographic Filtering
Filmin ortalama reytinglerini puan olarak kullanabiliriz ama bunu kullanmak yeterince adil olmayacaktır çünkü ortalama reytingi 8,9 olan ve sadece 3 oy alan bir film, ortalama reytingi 7,8 olan ancak 40 oy alan filmden daha iyi kabul edilemez. Bu yüzden, IMDB'nin şu şekilde verilen ağırlıklı derecelendirmesini (wr) kullanacağım: 


* v, film için oy sayısıdır;
* m, tabloda listelenmek için gereken minimum oy sayısıdır;
* R, filmin ortalama derecelendirmesidir; Ve
* C, raporun tamamındaki ortalama oydur

In [136]:
v = df2["vote_count"]
R = df2["vote_average"]
C = df2["vote_average"].mean()
m = df2["vote_count"].quantile(0.9)

quantile değerini ben belirledim. Bir filmin listede yer alabilmesi için listedeki filmlerin en az %90ından daha fazla oy alması gerekiyor.

In [137]:
#listeye uygun filmleri filtreleyelim.
q_movies = df2.copy().loc[v >= m]
q_movies.shape

(481, 23)

In [138]:
#şimdi weighted rating(wr) fonksiyonunu yazalım. Datamıza uygulayalım.

def weighted_rating(x, m = m, C = C):
    v = x["vote_count"]
    R = x["vote_average"]
    
    return (v / (v + m) * R) + (m / (m + v) * C)

In [139]:
q_movies["score"] = q_movies.apply(weighted_rating, axis = 1)

In [141]:
#top 10 filmin oy özelliklerini çıkaralım.
q_movies = q_movies.sort_values("score", ascending = False)

cols = ["title", "vote_count", "vote_average" , "score"]

q_movies[cols].head(10)

,title,vote_count,vote_average,score
1881,The Shawshank Redemption,8205,8.5,8.059258
662,Fight Club,9413,8.3,7.939256
65,The Dark Knight,12002,8.2,7.920020
3232,Pulp Fiction,8428,8.3,7.904645
96,Inception,13752,8.1,7.863239
3337,The Godfather,5893,8.4,7.851236
95,Interstellar,10867,8.1,7.809479
809,Forrest Gump,7927,8.2,7.803188
329,The Lord of the Rings: The Return of the King,8064,8.1,7.727243
1990,The Empire Strikes Back,5879,8.2,7.697884

demografik filtreleme çok geneldir.

## Content Based Filtering

Bu öneri sisteminde filmin içeriği (genel bakış, oyuncu kadrosu, ekip, anahtar kelime, slogan vb.) diğer filmlerle benzerliğini bulmak için kullanılır. Ardından benzer olma olasılığı en yüksek olan filmler önerilir.

Biz verisetindeki konu açıklamasına göre benzer filmleri bulmaya çalışağız.

In [142]:
df2["overview"].head()

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
2    A cryptic message from Bond’s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war-weary, former military ca...
Name: overview, dtype: object

Burda kelimeleri vektörize edeceğiz. Her bir overview için TF-IDF vektörünü bulacağız. 

TF: terim frekansıdır. bir kelimenin bir dökümandaki sıklığıdır. (terim örnekleri / terim toplamı)

IDF: terimi içeren belgelerin sıklığıdır. log(belgelerin sayısı / terimli belgelerin sayısı)

Her kelimenin önemi TF * IDF yapılarak bulunur.

Bu işlemlerin sonucunda daha önce olduğu gibi, her sütunun overview sözlüğündeki bir kelimeyi (en az bir belgede görünen tüm kelimeler) ve her satırın bir filmi temsil ettiği bir matris verecektir.

In [143]:
from sklearn.feature_extraction.text import TfidfVectorizer

#Bir TF-IDF Vectorizer Nesnesi tanımladık. 'the', 'a' gibi tüm ingilizce stopwordleri kaldırdık.
tfidf = TfidfVectorizer(stop_words='english')

#Nanları boş stringle doldurduk.
df2['overview'] = df2['overview'].fillna('')

#Verileri uydurarak ve dönüştürerek gerekli TF-IDF matrisini oluşturduk.
tfidf_matrix = tfidf.fit_transform(df2['overview'])

tfidf_matrix.shape

(4803, 20978)

Veri setimizdeki 4800 filmi tanımlamak için 20.000'den fazla farklı kelimenin kullanıldığını görüyoruz.

Şimdi filmler arası benzerlikleri bulmak için kosinüs benzerliğini kullanacağız. (Cosine sim)

In [144]:
#elimizdeki matristen dolayı linear_kernel daha hızlı hesaplama sağlayacaktır.
from sklearn.metrics.pairwise import linear_kernel

cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [145]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(df2.index, index=df2['title']).drop_duplicates()

In [146]:
# Film başlığını girdi olarak alcaz ve buna benzer 10 filmi listeleyeceğiz.
def get_recommendations(title, cosine_sim=cosine_sim):
    # Film adına uyan indexi alacağız.
    idx = indices[title]

    # Filmimizle diğer tüm filmlerin benzerlik puanını hesaplayacağız.
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Benzerlik puanlarına göre sıralayacağız.
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # En benzer 10 filmin puanlarını alıyoruz. (1'den başlamamızın sebebi ilk film zaten bizim filmimiz olacaktır.)
    sim_scores = sim_scores[1:11]

    # Film indexlerini alacağız
    movie_indices = [i[0] for i in sim_scores]

    # En çok benzeyen 10 filmi sıralayacağız.
    return df2['title'].iloc[movie_indices]

In [147]:
get_recommendations('Avatar')

3604                       Apollo 18
2130                    The American
634                       The Matrix
1341            The Inhabited Island
529                 Tears of the Sun
1610                           Hanna
311     The Adventures of Pluto Nash
847                         Semi-Pro
775                        Supernova
2628             Blood and Chocolate
Name: title, dtype: object

In [148]:
get_recommendations('The Karate Kid')

4458    Harrison Montgomery
1811         Mrs. Doubtfire
4748               Absentia
3001        The Last Dragon
1955         Kung Fu Jungle
1820       The Fifth Estate
1126    Here Comes the Boom
3247    That Awkward Moment
4722      Facing the Giants
2251        My All American
Name: title, dtype: object

## Collaborative Filtering

Yaptığımız model sadece konuları benzer filmleri yakalayabilir. Zevkleri yakalama konusunda yetisi yoktur.

Bu modeli SVD(singular value decomposition) kullanarak yapacağız. 

Kullanıcılar ve öğeler arasındaki benzerliği yakalamak için bir gizli faktör modelinden yararlanacağız. Gizli faktör bir kullanıcının veya bir öğenin sahip olduğu bir özelliği veya kavramı tanımlayan geniş bir fikirdir. Örneğin, müzik için gizli faktör, müziğin ait olduğu tür olabilir.

SVD temel olarak, her bir kullanıcıyı ve her bir öğeyi r boyutuna sahip gizli bir uzaya eşler. Bu nedenle, doğrudan karşılaştırılabilir hale geldikçe, kullanıcılar ve öğeler arasındaki ilişkiyi daha iyi anlamamıza yardımcı olur.

In [149]:
!pip install scikit-surprise

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-surprise in /home/emrullah/.local/lib/python3.8/site-packages (1.1.3)
Requirement already satisfied: scipy>=1.3.2 in /usr/lib/python3/dist-packages (from scikit-surprise) (1.3.3)
Requirement already satisfied: numpy>=1.17.3 in /usr/lib/python3/dist-packages (from scikit-surprise) (1.17.4)
Requirement already satisfied: joblib>=1.0.0 in /home/emrullah/.local/lib/python3.8/site-packages (from scikit-surprise) (1.2.0)
--- Logging error ---
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/pip/_internal/utils/logging.py", line 177, in emit
    self.console.print(renderable, overflow="ignore", crop=False, style=style)
  File "/usr/local/lib/python3.8/dist-packages/pip/_vendor/rich/console.py", line 1752, in print
    extend(render(renderable, render_options))
  File "/usr/local/lib/python3.8/dist-packages/pip/_vendor/rich/console.py", line 1390, in render
    for render_output in iter_render:
  File "/usr/local/lib/python3.8/dist-packages/pip/_internal/utils/logging.py", line 134, in __rich_console__
    for line in lines:
  File "/usr/local/lib/python3.8/dist-packages/pip/_vendor/rich/segment.py", line 245, in split_lines
    for segment in segments:
  File "/usr/local/lib/python3.8/dist-packages/pip/_vendor/rich/console.py", line 1368, in render
    renderable = rich_cast(renderable)
  File "/usr/local/lib/python3.8/dist-packages/pip/_vendor/rich/protocol.py", line 36, in rich_cast
    renderable = cast_method()
  File "/usr/local/lib/python3.8/dist-packages/pip/_internal/self_outdated_check.py", line 130, in __rich__
    pip_cmd = get_best_invocation_for_this_pip()
  File "/usr/local/lib/python3.8/dist-packages/pip/_internal/utils/entrypoints.py", line 58, in get_best_invocation_for_this_pip
    if found_executable and os.path.samefile(
  File "/usr/lib/python3.8/genericpath.py", line 101, in samefile
    s2 = os.stat(f2)
FileNotFoundError: [Errno 2] No such file or directory: '/usr/bin/pip3.8'
Call stack:
  File "/usr/local/bin/pip", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.8/dist-packages/pip/_internal/cli/main.py", line 70, in main
    return command.main(cmd_args)
  File "/usr/local/lib/python3.8/dist-packages/pip/_internal/cli/base_command.py", line 101, in main
    return self._main(args)
  File "/usr/local/lib/python3.8/dist-packages/pip/_internal/cli/base_command.py", line 223, in _main
    self.handle_pip_version_check(options)
  File "/usr/local/lib/python3.8/dist-packages/pip/_internal/cli/req_command.py", line 148, in handle_pip_version_check
    pip_self_version_check(session, options)
  File "/usr/local/lib/python3.8/dist-packages/pip/_internal/self_outdated_check.py", line 237, in pip_self_version_check
    logger.info("[present-rich] %s", upgrade_prompt)
  File "/usr/lib/python3.8/logging/__init__.py", line 1446, in info
    self._log(INFO, msg, args, **kwargs)
  File "/usr/lib/python3.8/logging/__init__.py", line 1589, in _log
    self.handle(record)
  File "/usr/lib/python3.8/logging/__init__.py", line 1599, in handle
    self.callHandlers(record)
  File "/usr/lib/python3.8/logging/__init__.py", line 1661, in callHandlers
    hdlr.handle(record)
  File "/usr/lib/python3.8/logging/__init__.py", line 954, in handle
    self.emit(record)
  File "/usr/local/lib/python3.8/dist-packages/pip/_internal/utils/logging.py", line 179, in emit
    self.handleError(record)
Message: '[present-rich] %s'
Arguments: (UpgradePrompt(old='22.1.2', new='23.1'),)

In [150]:
#SVDyi uygulamak için Surprise kütüphanesini import edelim.

from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
reader = Reader()
ratings = pd.read_csv('ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [151]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

svd = SVD()

#RMSE bizim için faydalı olacaktır
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8956  0.9008  0.8921  0.8892  0.9046  0.8965  0.0056
MAE (testset)     0.6891  0.6919  0.6884  0.6868  0.6960  0.6904  0.0032
Fit time          0.69    0.71    0.71    0.71    0.70    0.71    0.01
Test time         0.22    0.09    0.09    0.09    0.09    0.11    0.05

{'test_rmse': array([0.89560928, 0.90077326, 0.89208987, 0.88924543, 0.90459065]),
 'test_mae': array([0.68908435, 0.69185021, 0.68840126, 0.68676393, 0.69601043]),
 'fit_time': (0.6948137283325195,
  0.71315598487854,
  0.7088069915771484,
  0.7067356109619141,
  0.7036676406860352),
 'test_time': (0.21904778480529785,
  0.0861964225769043,
  0.08505010604858398,
  0.08577799797058105,
  0.08650851249694824)}

yaklaşık 0.90 rmse elde ediyoruz bu bizim için yeterli olacaktır.

In [152]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [153]:
#user1'in verdiği puanlara bakalım.
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [156]:
svd.predict(1, 300)

Prediction(uid=1, iid=300, r_ui=None, est=2.940762894047893, details={'was_impossible': False})